.nav {
  align-items: center;
  display: flex;
  justify-content:space-between;
  font-size: 22px;
  padding: 0px;
  background-color: white;
  margin-bottom: 0px;
}
@media (max-width:768px){
  nav{
    align-items: flex-start;
  }
  nav ul{
    display: flex;
    flex-direction: column;
  }
  .imageWithTextRight td{
    display: flex;
    flex-direction: row;
  }
}

nav ul {
  padding: 10px;
  padding-top: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  display: flex;
  margin: 15px;
  color:#0099ff;
  flex-direction: column;
  margin-left: 30px;
  flex-wrap: wrap;
}
nav p {
  font-size: 22px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  color:#0099ff;
  flex-direction: column;
}
header {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  max-width: 100%;
  margin-top: 80px;
}
.title-ds{
  display: flex;
  justify-content: center;
  margin-top: 75px;
  background-color: white;
}
.ds{
  
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin-left: 25%;
  font-size: 22px;
  background-color: white;
}
.Impressum{
  text-align: center;
  background-color: white;
  
}
table{
  border: none;
}
footer{
  background-color: white;
  display: flex;
  padding: 10px;
  min-width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.imageWithTextRight{
  padding: 45px;
  ;
}
.imageWithTextLeft{
  padding: 45px;
}
.card-title{
  display: flex;
  justify-content: center;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 100px;
}

.card {
  flex-basis: calc(33.33%);
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  background-color: #178bd9;
  margin:0px 10px 20px 10px;
}

.card img {
  max-width: 100%;
  height: auto;
}
.link{
  color: black;
  
}
.bild{
  max-height: 400px;
  max-width: 300px;
}
.Animal-desc{
  display: flex;
  justify-content: center;
}

.price-table{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 50px;
}
.price-table td{
  background-color: white;
  border: solid 1px black;
}
.bild-big{
  height: auto\9;
  width: 100%;
  background-size: cover;
   display: flex;
}
.tier-content{
  margin-bottom: 50px;
  text-align: center;
  margin-top: 30px;
}
.interestContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin-bottom: 100px;
  margin-top: 100px;
  max-width: 100vw;
  max-height: 100vh;
}
.intrestCard {
  max-width: 550px;
  background-color: #0099ff;
  margin: 10px;
  box-shadow: 0 0 15px black;
  border-radius: 10px 10px 0 0;
}
.intrestCard:hover {
  box-shadow: 0 0 35px black;
  transition-duration: 300ms;
  transform: scale(1.4);
}
.home-content{
  margin-top: 100px;
}
body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/51/Zoo-neuwied-eingang.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}