.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding: 0px;
  margin-bottom: 45px;
  background-color: white;
}



nav ul {
  padding: 10px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  
}
nav ul li {
  display: flex;
  margin: 15px;
  color:#0099ff;
  flex-direction: column;
  margin-left: 30px;

}
nav p {
  font-size: 22px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  color:#0099ff;
  flex-direction: column;
}
header {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

table{
  border: none;
}
footer{
  background-color: white;
  display: flex;
  padding: 10px;
  max-width: 100%;
  margin-top: 25px;
}
.imageWithTextRight{
  padding: 45px;
}
.card-title{
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex-basis: calc(33.33%);
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  background-color: #178bd9;
  margin:0px 10px 20px 10px;
}

.card img {
  max-width: 100%;
  height: auto;
}
.link{
  color: black;
  
}
.bild{
  max-height: 400px;
  max-width: 300px;
}

.Animal-desc{
  display: flex;
  justify-content: center;
}
.price-table{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  
}
/*

*/

.interestContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  
}
.intrestCard {
  width: 350px;
  background-color: #0099ff;
  margin: 10px;
  box-shadow: 0 0 15px black;
  border-radius: 10px 10px 0 0;
}
.intrestCard:hover {
  box-shadow: 0 0 35px black;
  transition-duration: 300ms;
  transform: scale(1.05);
}
.interestContainer {
  max-width: 100vw;
  max-height: 100vh;
  margin-top: 75px;
}
