.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
  font-size: 22px;
  padding-top: 0px;
  margin-bottom: 50px;
}
nav ul {
  padding: 10px;
  padding-top: 0;
  display: flex;
  justify-content: center;
  position: fixed;
}
nav ul li {
  display: flex;
  margin: 15px;
}
nav p {
  margin-bottom: 7rem;
  font-size: 22px;
  margin-bottom: 50px;
  width: 100vh;
  margin-top: 40px;
  display: flex;
}
header {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
